# Titanic End-to-End Data Analysis Project

<div style="display: flex; align-items: center; justify-content: space-between; padding: 20px; background-color: #000000ff; border-radius: 10px;">
  
  <div style="flex: 1; margin-right: 20px;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/RMS_Titanic_3_%28cropped_to_ship%29.jpg/500px-RMS_Titanic_3_%28cropped_to_ship%29.jpg" alt="RMS Titanic" style="width: 100%; max-width: 400px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
  </div>
  
  <div style="flex: 1; text-align: left;">
    <h2>Titanic Data Analysis Project</h2>
    <h3>Data Analyst: Bashir Ibraheem Olamide</h3>
    <p><strong>Project Overview:</strong> This project involves an end-to-end analysis of the Titanic dataset, exploring passenger demographics, survival rates, and key factors influencing survival using data cleaning, visualization, and statistical techniques.</p>
    <p><strong>Connect with Me:</strong></p>
    <div style="display: flex; gap: 10px; flex-wrap: wrap;">
      <a href="[Your LinkedIn URL]" target="_blank" style="text-decoration: none;">
        <button style="background-color: #0077B5; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">LinkedIn</button>
      </a>
      <a href="[Your GitHub URL]" target="_blank" style="text-decoration: none;">
        <button style="background-color: #333; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">GitHub</button>
      </a>
      <a href="[Your Twitter/X URL]" target="_blank" style="text-decoration: none;">
        <button style="background-color: #2e2626ff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">X</button>
      </a>
    </div>
    <p><strong>Contact:</strong> ibraheembashir001@gmail.com</p>
    <p><strong>Date:</strong> July 26, 2025</p>
  </div>
</div>

## Preparing the Data

In [2]:
import pandas as pd
import gdown
from sqlalchemy import create_engine

file_id = '15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C'

# Download the file
download_url = f'https://drive.google.com/uc?id={file_id}'
output_file = 'titanic_data.csv'
gdown.download(download_url, output_file, quiet=False)

df = pd.read_csv(output_file)

print("Data loaded successfully")
print(df.head())

Downloading...
From: https://drive.google.com/uc?id=15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C
To: c:\Users\OLAMIDE\Desktop\Titanic Analysis Project\titanic_data.csv
100%|██████████| 61.2k/61.2k [00:00<00:00, 315kB/s]

Data loaded successfully
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
# Define PostgreSQL connection
db_user = 'postgres'
db_password = 'Bashirib001$'
db_host = 'localhost'
db_port = '5432'
db_name = 'titanic_db'

# Create a SQLAlchemy engine for PostgreSQL
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

print("✅ Successful!")

✅ Successful!

In [4]:
# Load the DataFrame into the PostgreSQL database
df.to_sql('titanic_table', engine, if_exists='replace', index=False)

connection = engine.connect()

# Basic info about the dataset
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [5]:
# 
query = 'SELECT "PassengerId", "Survived", "Pclass", "Age", "Sex" FROM titanic_table'

project_data_df = pd.read_sql(query, connection)

In [6]:
project_data_df.head(10)

   PassengerId  Survived  Pclass   Age     Sex
0            1         0       3  22.0    male
1            2         1       1  38.0  female
2            3         1       3  26.0  female
3            4         1       1  35.0  female
4            5         0       3  35.0    male
5            6         0       3   NaN    male
6            7         0       1  54.0    male
7            8         0       3   2.0    male
8            9         1       3  27.0  female
9           10         1       2  14.0  female

In [7]:
print(project_data_df.info())
print(project_data_df.describe())
print("\n", project_data_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Age          714 non-null    float64
 4   Sex          891 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 34.9+ KB
None
       PassengerId    Survived      Pclass         Age
count   891.000000  891.000000  891.000000  714.000000
mean    446.000000    0.383838    2.308642   29.699118
std     257.353842    0.486592    0.836071   14.526497
min       1.000000    0.000000    1.000000    0.420000
25%     223.500000    0.000000    2.000000   20.125000
50%     446.000000    0.000000    3.000000   28.000000
75%     668.500000    1.000000    3.000000   38.000000
max     891.000000    1.000000    3.000000   80.000000

 PassengerId      0
Survived         0
Pclass           0
Age            177
Sex              0
dtype: int64

In [8]:
age_mean = project_data_df['Age'].mean()

project_data_df['Age'].fillna(age_mean, inplace=True)

C:\Users\OLAMIDE\AppData\Local\Temp\ipykernel_11624\2673180366.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  project_data_df['Age'].fillna(age_mean, inplace=True)

In [9]:
print(project_data_df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Age            0
Sex            0
dtype: int64

In [10]:
project_data_df['Age'] = project_data_df['Age'].round()

In [11]:
project_data_df.describe()

       PassengerId    Survived      Pclass         Age
count   891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.754209
std     257.353842    0.486592    0.836071   13.000828
min       1.000000    0.000000    1.000000    0.000000
25%     223.500000    0.000000    2.000000   22.000000
50%     446.000000    0.000000    3.000000   30.000000
75%     668.500000    1.000000    3.000000   35.000000
max     891.000000    1.000000    3.000000   80.000000

In [12]:
def categorize_age(age):
    if age <= 14:
        return 'Children'
    elif 15 <= age <= 64:
        return 'Youths&Adults'
    else:
        return 'Seniors'
    
project_data_df['age_category'] = project_data_df['Age'].apply(categorize_age)

In [13]:
project_data_df['age_category'].value_counts()

age_category
Youths&Adults    802
Children          78
Seniors           11
Name: count, dtype: int64

In [14]:
# Export data to xlsx
project_data_df.to_excel('final.xlsx', index=False)

print('Successfully Exported')

Successfully Exported

**Goal**:
To see if survival rate had anything to do with the passenger class and to also assess the age as well as the sex of the passengers within each class to identify the vulnerable categories.

**Dashboard**:
[Titanic Analysis Dashboard](Titanic%20Analysis%20Dashboard.pbix)


![Screenshot of Titanic Analysis Dashboard](images\image.png)

**Assessment/Insight**:
As part of our ongoing effort to enhance the safety and equity of our ship designs, we conducted an in-depth analysis of the Titanic passenger data to evaluate and minimize survival disparities across passenger classes, age groups, and sexes.

The data reveals a significant disparity in survival rates by class. Class 3 passengers experienced the lowest survival rate at 24%, while 491 passengers were in Class 3, only 119 survived, a stark contrast to the total boarding numbers. In contrast, Class 1 passengers had a survival rate of 63%, nearly three times higher than Class 3, underscoring the critical need to address these differences in future designs.

Further analysis by age category shows that youths and adults had the highest survival rate in Class 1, while children achieved a notable 10% survival rate in Class 2. However, seniors faced a 0% survival rate across all classes, highlighting a vulnerable group that requires targeted attention. These insights emphasize the urgency of designing ships to ensure equitable safety outcomes, regardless of class, age, or sex, to enhance overall passenger survival in future vessels.

Among female passengers, survival rates were generally higher across all classes compared to males. Female passengers in First and Second Class consistently had better outcomes than their male counterparts, reinforcing the importance of prioritized evacuation protocols that were likely in place.

**Implication for Ship Design**:

As we aim to innovate in shipbuilding, it is imperative that our designs:

- Minimize class-based disparities in emergency accessibility,

- Ensure equal evacuation opportunities across age groups and sexes, especially children and seniors.

- Focus on inclusive safety measures, particularly for vulnerable demographics like seniors and third-class travelers.

- Use these insights to initiate further analysis(statistical analysis) to design safer, more equitable vessels for all passengers.